<section> <!-- Do html 5 -->

<article>
  <h3>Interpoção / Interpolation</h3>
  <p>String renderizada com interpolação: {{ url }}</p>
  <p>Resultaedo de 1+1 é {{1+1}}</p>
  <p>Resultado de 1+1 não é {{ 1+1+getValor() }}</p>
  <p> {{ cursoAngular && getCurtirCurso() }} </p>
</article>


<article>
  <h3>Property Bing</h3>
  <img src="{{urlImagem}}" >
  <img [src]="urlImagem" >
</article>

<article>
  <h3>Class e Style Binding</h3>
  <div>
    Selecione uma classe
    <select #classe (change)="0" >
      <option value="alert-success" >alert-success</option>
      <option value="alert-info" >alert-info</option>
      <option value="alert-warning" >alert-warning</option>
      <option value="alert-danger" >alert-danger</option>
    </select>
    <br><br>

    <div class="alert {{ classe.value }}" role="alert">
      Texto vai mudar conforme valor do combobox
    </div>

    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'" >Sucesso</div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'" >Info</div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'" >Alerta</div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'" >Erro</div>    
  </div>

  <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
    Erro
  </div>    

</article>
<h3>Event Binding</h3>
<button class="btn btn-primary>" (click)="botaoCliado()" >Me clique</button>
<br><br>

<input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" #campoInput />
<p>Valor atual: {{ valorAtual }}</p>
<p>Valor salvo: {{ valorSalvo }}</p>

<br><br>

<span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver" >Passe o mouse sobre mim</span>

<article>
  <h3></h3>
</article>

<section>
<article class="two-way-binding" >
  <h3>Two-way data binding</h3>
  <div>

    <input type="text" 
    [value]="nome"
    (input)="nome = $event.target.value"
    />

    <p>Você digitou o nome: {{nome}} </p>

    <input type="text" 
    [ngModel]="nome"
    (ngModelChange)="nome = $event"
    />    

    <input type="text" [(ngModel)]="nome" />

  </div>
<br><br>
  <div>

    <p>Meu nome é {{ pessoa.nome }} e tenhe {{ pessoa.idade }} anos de idade</p>

    <input type="text" [(ngModel)]="pessoa.nome" />
    <input type="text" [(ngModel)]="pessoa.idade" />
  </div>
</article>
</section>

</section>