<app-data-binding></app-data-binding>
<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"  ></app-ciclo>
<button (click)="mudarValor()">Mudar valor</button>
<button (click)="destruitCiclo()">Deletar</button>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ng-content>
  Conteúdo passado para o componente
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <div class="titulo" >Título do painel</div>
  <div class="corpo">
    Corpo para o conteudo
  </div>
</app-exemplo-ng-content>
